@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root{
    --first-color: #14E2CD;
    --second-color: #6F66F0;
    --text-color: #FFFFFF;
    --body-color: #3D3935;
    --container-color: #615b54;
}


*{
    margin: 0;
}

body{
    font-family: "Madimi One", sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    padding: 2rem 1rem;
}


img{
    width: 100%;
    max-width: 160px;
    height: auto;
}

ul{
    list-style: none;
}

.first-img{
    max-width: 300px;
}

.mb-2{
    margin-bottom: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.text-align-center{
    text-align: center;
}

.text-color-first{
    color: var(--first-color);
}

.mb-1{
    margin-bottom: 1rem;
}

.g-2{
    gap: 2rem;
}

.center-content{
    flex-direction: column;
    align-items: center;
}

.d-none{
    display: none;
}

/**/

.card{
    cursor: pointer;
    padding: 1rem 0.5rem;
}

.card:hover{
    background-color: var(--container-color);
    transform: scale(1.1);
    transition: all 2ms ease;
    border-radius: 5px;
}

.button{
    max-width: 200px;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 800;
    background: var(--first-color);
    background: linear-gradient(90deg, var(--first-color) 20%, var(--second-color) 89%);
}

.button:hover{
    transform: scale(1.09);
}

.social-media{
    display: flex;
}

.social-media li a{
    padding: 5px 10px;
    
}



@media (min-width: 992px) {
    .col-md-4{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .col-md-3{
        grid-template-columns: repeat(4, 1fr);
    }

    img{
        max-width: 200px;
    }
}